h1 {color: #394543}
h2 {color: #0d3832;}
h2 {color: #072420;}
h2 {color: #0d3832;}
h2 {font-size; 1em;
}
{background color:#ccdedb}

a:link {color:black;}
a:visited {color:gray;}
a:focus {color:black; background-color:teal;}
a:hover {color:black; background-color:teal;}
a:active {color:teal}


